<div class="app-sidebar">
    <div class="app-sidebar-logo">
        <img class="app-sidebar-logo__image" src="assets/star.svg"/>
        <div class="app-sidebar-logo__separator"></div>
        <span class="app-sidebar-logo__text">Ad astra<br/>per aspera</span>
    </div>
    <div class="app-sidebar-user-demo">
        <img class="app-sidebar-user-demo__avatar" src="assets/avatar.jpg"/>
        <div class="app-sidebar-user-demo__name">
            Name Surname
        </div>
        <div class="app-sidebar-user-demo__title">
            Job Title
        </div>
    </div>
    <div class="app-sidebar-menu">
        <a class="app-sidebar-menu--item" href="/">
            <img src="assets/home.svg"> Home
        </a>
        <a class="app-sidebar-menu--item" href="/contacts">
            <img src="assets/mail.svg"> Contacts
        </a>
    </div>
</div>